header {
    display: flex;
    background-color: silver;
    border: 2px solid;
}

header h2 {
    margin: auto;
}

menu{
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

menu>button{
    border-radius: 5px;
    background-color: blue;
    color: white;
    border: 1px solid white;
    padding: 10px;
}

main {
    height: 92vh;
    width: 100%;
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
}

main #Div1 {
    display: flex;
    background-color: whitesmoke;
    width: 80%;
    height: 30%;
    margin: auto;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}

main #Div2 {
    display: flex;
    background-color: whitesmoke;
    width: 80%;
    height: 30%;
    margin: auto;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}

main #Div3 {
    display: flex;
    background-color: whitesmoke;
    width: 80%;
    height: 30%;
    margin: auto;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}

main #Div1:hover {
    background-color: rgb(211, 211, 211);
}

main #Div2:hover {
    background-color: rgb(211, 211, 211);
}

main #Div3:hover {
    background-color: rgb(211, 211, 211);
}

.torre {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: black;
    height: 100px;
    width: 10px;
    border-radius: 10px 10px 0 0;
    justify-content: end;
}

.disco {
    height: 15px;
    display: flex;
    border-radius: 5px;
}

.d1 {
    background-color: red;
    width: 20px;
    border: 2px solid;
}

.d2 {
    background-color: yellow;
    width: 40px;
    border: 2px solid;
}

.d3 {
    background-color: blue;
    width: 80px;
    border: 2px solid;
}

.d4 {
    background-color: orange;
    width: 110px;
    border: 2px solid;
}

.d5 {
    background-color: green;
    width: 140px;
    border: 2px solid;
}

#msg{
    text-align: center;
    font-family: arial;
    color: white;
}