html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    list-style: none;
    box-sizing: border-box;
}

/* --------------------- */

body {
    margin: 10px
}

header {
    display: flex;
    background-color: silver;
    border: 2px solid;
    height: 5vh;
}

header h2 {
    margin: auto;
    font-size: 24px;
}

menu {
    margin: 2vh 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

menu>button {
    border-radius: 5px;
    background-color: blue;
    color: white;
    border: 1px solid white;
    padding: 10px 5vw;
}

main {
    height: 90vh;
    width: 100%;
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
}

main #Div1 {
    display: flex;
    background-color: whitesmoke;
    width: 80%;
    height: 30%;
    margin: 5px auto;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}

main #Div2 {
    display: flex;
    background-color: whitesmoke;
    width: 80%;
    height: 30%;
    margin: 5px auto;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}

main #Div3 {
    display: flex;
    background-color: whitesmoke;
    width: 80%;
    height: 30%;
    margin: 5px auto;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}

main #Div1:hover {
    background-color: rgb(211, 211, 211);
}

main #Div2:hover {
    background-color: rgb(211, 211, 211);
}

main #Div3:hover {
    background-color: rgb(211, 211, 211);
}

.botao:hover {
    background-color: green;
}

.torre {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: black;
    height: 100px;
    width: 10px;
    border-radius: 10px 10px 0 0;
    justify-content: end;
}

.disco {
    height: 17px;
    display: flex;
    border-radius: 5px;
}

.d1 {
    background-color: red;
    width: 20px;
    border: 2px solid;
}

.d2 {
    background-color: yellow;
    width: 40px;
    border: 2px solid;
}

.d3 {
    background-color: blue;
    width: 80px;
    border: 2px solid;
}

.d4 {
    background-color: orange;
    width: 110px;
    border: 2px solid;
}

.d5 {
    background-color: green;
    width: 140px;
    border: 2px solid;
}

#msg {
    text-align: center;
    font-family: arial;
    font-size: 20px;
    z-index: 1;
    position: absolute;
    top: 40%;
    width: 100%;
}

.contador {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    main {
        margin-top: 10px;
        flex-direction: column;
        height: 70vh;
        width: 100%;
        background-color: lightslategray;
        display: flex;
        border: 2px solid black;
    }
    main #Div1, main #Div2, main #Div3 {
        height: 80%;
    }
    header h2 {
        font-size: 32px
    }
    menu {
        margin: 1vh 0;
    }
    .torre {
        height: 130px;
    }
    .disco {
        height: 22px;
        display: flex;
        border-radius: 5px;
    }
    .d1 {
        background-color: red;
        width: 30px;
        border: 2px solid;
    }
    .d2 {
        background-color: yellow;
        width: 50px;
        border: 2px solid;
    }
    .d3 {
        background-color: blue;
        width: 90px;
        border: 2px solid;
    }
    .d4 {
        background-color: orange;
        width: 120px;
        border: 2px solid;
    }
    .d5 {
        background-color: green;
        width: 150px;
        border: 2px solid;
    }
    main #Div1, main #Div2, main #Div3 {
        width: 32vw;
    }
    .box {
        display: flex;
        height: 50%;
        position: relative;
        transform: translateY(10%);
    }
    #msg {
        font-size: 40px;
        top: 30%;
    }
}